Repository zqhexor/hexor-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --fix

.lintstagedrc.json:

{
  "*.{css,scss,sass,html,vue}": "stylelint",
  "*.{js,jsx,vue}": ["eslint --fix"]
}

feat: 优化格式化工具
  .eslintrc.js
  .prettierrc
  .vscode/settings.json
  src/pages/login/index.vue
Due: stylelint, eslint --fix

feat: 增加推荐插件
  .vscode/extensions.json
Due: none

feat: 精简初始化框架
  src/assets/img/account.jpg
  src/assets/img/flow.jpg
  src/assets/img/location_bg.jpg
  src/assets/img/location_kx.jpg
  src/assets/img/phone.jpg
  src/assets/img/pic1.jpg
  src/assets/img/pic2.jpg
  src/assets/img/pic3.png
  src/assets/img/pic4.jpg
  src/assets/img/pic5.jpg
  src/assets/img/s_banner.png
  src/assets/img/s_banner3.png
  src/components/layout-footer.vue
  src/components/layout-header.vue
  src/constant/index.js
  src/mock-data/notice.js
  src/mock-data/question.js
  src/pages/_components_/li-item.vue
  src/pages/_components_/notice.vue
  src/pages/_components_/online-service.vue
  src/pages/_components_/question.vue
  src/pages/about/index.vue
  src/pages/help/index.vue
  src/pages/index.vue
  src/pages/legal/index.vue
  src/pages/login/index.vue
  src/pages/notice/[id]/index.vue
  src/pages/service/index.vue
Due: stylelint, eslint --fix

chore: 精简依赖
  package.json
  yarn.lock
Due: none

chore: 删除不常用的stylelinit
  .lintstagedrc.json
  .prettierrc
  .prettierrc.js
  package.json
  stylelint.config.js
  yarn.lock
Due: eslint --fix

chore: update .eslintrc.js
  .eslintrc.js
Due: eslint --fix
